body {
  background-color: #000000;

  color: white;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  height: auto;
  max-width: 100px;

  border-radius: 50%;
}

.profile-name {
  text-align: center;

  padding: 30px;
  font-size: 38px;
  
  
               animation: colorRotate 6s linear 0s infinite;
              }
              
              @keyframes colorRotate {
                from {
                  color: #6666ff;
                }
                25% {
                  color: #0099ff;
                }
                50% {
                  color: #00ff00;
                }
                75% {
                  color: #ff3399;
                }
                100% {
                  color: #6666ff;
                }
              }

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-width: 2px;
  padding: 20px;

  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 18px;
  animation: colorRotate 6s linear 0s infinite;
}
/* fuck u */
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  25% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }

}

a {
  text-decoration: none;

  color: rgb(255, 255, 255);
  transition: color 0s;
}

a:hover,
a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em)
}


.other {
  text-align: center;

  padding: 30px;
  font-size: 25px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  25% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import 'compass/css3';

@mixin keyframes($animationName) {
  @-webkit-keyframes #{"$animationName"} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

.loader-container {
	width:100px;
	height:100px;
	position: absolute;
	@include animation(scaleUp .5s linear);
	@include transform(scale(0));
	opacity: 0;
	.loader {
		background: #ff0c0c;
		@include background(linear-gradient(50deg,#ff0c0c,#21d400));
		border-radius:10px;
		@include filter(hue-rotate(0deg));
		animation: filterHue 2.5s linear infinite;
		height:100%;
		width: 100%;
		transform:rotate(0deg);
		&::after {
			content:'';
			position:absolute;
			height: 80px;
			width:80px;
			left:10px;
			top:10px;
			border-radius: 100%;
		}
	}
}

@include keyframes(filterHue2) {
	50%{@include filter(hue-rotate(1000deg));}
	100% {@include filter(hue-rotate(2000deg)); }
}

@include keyframes(filterHue) {
	50%{@include filter(hue-rotate(1000deg));}
	100% {@include filter(hue-rotate(2000deg));
	@include transform(rotate(360deg));}
}
@include keyframes(scaleUp) {
	50%{@include transform(scale(0.5));opacity: 1}
	100% {@include transform(scale(0.25));}
}




  
	
	
